<!-- About Section Start -->
<section id="about" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title-header text-center">
          <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Sobre</h1>
          <h4 class="wow fadeInDown" data-wow-delay="0.2s">O Núcleo de Alunos de Engenharia Mecânica da Universidade do Minho é uma organização sem fins lucrativos, com sede
            no Departamento de Engenharia Mecânica da Universidade do Minho. A associação tem como fim,
          </h4>
          <ul class="wow fadeInDown" data-wow-delay="0.2s">
            <li><h5>- Lidar de forma mais dinâmica com os problemas dos alunos procurando encontrar soluções;</h5></li>
            <li><h5>- Melhorar a comunicação entre alunos e professores;</h5></li>
            <li><h5>- Apoiar os alunos nos seus projetos empreendedores e inovadores e criar condições para o sucesso do desenvolvimento das suas ideias;</h5></li>
            <li><h5>- Apostar na formação complementar, de forma extracurricular;</h5></li>
            <li><h5>- Promover a ligação entre alunos e empresas da região;</h5></li>
            <li><h5>- Lutar pelo bom funcionamento das oficinas e laboratórios de Mecânica;</h5></li>
            <li><h5>- Elaboração de atividades recreativas e sociais;</h5></li>
            <li><h5>- Promover a internacionalização dos estudantes por meio de programas de mobilidade;</h5></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About Section End -->
