<footer class="footer-area">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <img src="assets/img/logo.png">
        <br>
        <br>
        <span><h5>Departamento de Engenharia Mecânica</h5></span>
        <span><h6>Campus de Azurém<h6></span>
        <br>
        <br>
        <h5>CONTACTOS</h5>
        <div class="widget">
          <div class="newsletter-wrapper">

            <ul>
              <li><a href="mailto:namecum@dem.uminho.pt">namecum@dem.uminho.pt</a></li>
            </ul>
          </div>
        </div>
        <div class="widget">
          <ul class="footer-social">
            <li><a class="facebook" href="https://www.facebook.com/namecum/"><i class="fab fa-facebook-f"></i></a></li>
            <li><a class="instagram" href="https://www.instagram.com/namecum/"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
